# Frontend
REACT_APP_API_URL=http://localhost:5000
REACT_APP_GOOGLE_MAPS_API=AIzaSyCIhy1RiRB3e7oN1WE3i9gRurbj9zAiXF4
REACT_APP_SOCKET_URL=http://localhost:5000

# Backend
PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/ride_zilla
REFRESH_TOKEN_EXPIRE=30d

# Email Service
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ashu808400@gmail.com
SMTP_PASS=gkqolqooduldgzks

# Payment Gateway
RAZORPAY_KEY_ID=rzp_test_Rk3qv4RrxbBRHc
RAZORPAY_SECRET=YBk8uHi75mRn77p1pm75cLpH
STRIPE_SECRET_KEY=pk_test_51T3bygHOB5oqtmV7eQ47vAaJLQj9ksFWYo3WbMBpROUDJtVl612nAuuelWLsgnlrHM8NFFR6VDL6IZfIVFdu5dDc00PnOOeaYK
STRIPE_PUBLIC_KEY=sk_test_51T3bygHOB5oqtmV7SvGgj4l5HCJfl3nHGRgCw7Y58Hvaoy3ep026jAsB8PgYf8JJaXgDnd02e6I5q06SnxPNIB9000zwASDSJa

# Google Maps
GOOGLE_MAPS_API_KEY=AIzaSyBe6JNjJFJH1JB1XsTQ9MH5Z9QEs1QPpPg



# OTP Service
OTP_EXPIRE=10m
OTP_RESEND_LIMIT=3

# Redis
REDIS_URL=redis://localhost:6379

# Twilio (SMS)
TWILIO_ACCOUNT_SID=AC55cbd7f7301f974805ef5a2e1ad1a59c
TWILIO_AUTH_TOKEN=1edcd9305706bb368863f70f83d6494a
TWILIO_PHONE_NUMBER=+918084008284
